*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}

header{
    background-color:#b51ac4;
    text-shadow: 2px 4px 5px #000;
    font-style: italic;
    color: #fff;
    padding: 15px;
    text-align: center;
    border-bottom: 3px solid #f2f0ec;
    animation-direction: alternate;
}

.container{
    background-color: #f1f1f1;
    min-height:  60vh;
    padding: 50px;
}

.produtos-container{
    max-width: 1200px;
    margin: auto;
}

.card{
    width: 31%;
    margin: 1%;
    display: inline-block;
    padding: 15px;
}

.produto-image{
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
    background-position: center;
    background-size: cover;
}

#img-1{
    background-image:url("q2.jpg");
}

#img-2{
    background-image:url("absazul.jpg");
}

#img-3{
    background-image:url("q5.jpg");
}

#img-4{
    background-image:url("un.jpg");
}

#img-5{
    background-image:url("q0.jfif");
}

#img-6{
    background-image:url("3flo.jpg");
}

h3{
    margin-bottom: 10px;
    color: #ad79e6;
    border-left: 5px solid #000000;
    padding-left: 7px;
    font-size: 24px;
}

.card p{
    margin-bottom: 10px;
    font-size: 12px;
}
.bold{
    font-weight: 900;
}

.btn{
    display: block;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #c54ecb;
    color: #fff;
    border-radius: 5px;
    padding: 15px;
    transition: .4s;
}

.btn:hover{
    background-color: #834dc1;
}

footer{
    background-color: rgb(172, 61, 148);
    color: #fff;
    padding: 15px;
    text-align: center;
    border-top: 3px solid rgb(33, 3, 3);
}
